// Main
@import 'mixins';

a {
    text-decoration: none;
    &.link{
        opacity: 0.8;
        &:hover{
            opacity: 1;
            text-decoration: underline;
        }
    }
}
ul {
  &.ul-unstyled{
    padding: 0!important;
    list-style: none;
  }
}
.code-wrapper {
    background-color: #282c34!important;
    border-radius: 5px!important;
    overflow: hidden!important;
}
.highlight-code {
    font-family: Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace!important;
    background-color: #282c34!important;
    border-radius: 10px!important;
    overflow: hidden!important;
    
    code {
        font-family: inherit!important;
        font-weight: normal!important;
        &.hljs{
            box-shadow: none!important;
            display: block!important;
            color: #fff!important;
            font-size: .85em!important;
            line-height: 1.4!important;
            background-color: #282c34!important;
            padding: 16px 20px!important;
            max-height: 500px;
            overflow: scroll;
            // border-radius: 10px!important;
        }
    }
    &.sm {
        code{
            &.hljs{
                overflow: hidden!important;
                max-height: 200px!important;
            }
        }
    }
    &.lg {
        code{
            &.hljs{
                max-height: 1500px!important;
            }
        }
    }
}
.markdown-viewer.custom {
    color: rgb(23, 43, 77)!important;
    p, ul, ol {
        font-size: 1em;
        line-height: 1.714;
        font-weight: normal;
        margin-top: 1.143rem;
        margin-bottom: 0px;
        letter-spacing: -0.005em;
        color: rgb(9, 30, 66)!important;
    }
}
.markdown-editor, .code-mirror {
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid rgba($color: #000000, $alpha: 0.35);
    & > div {
        border: 0 none transparent!important;
    }
    pre {
        background-color: transparent!important;
        border-radius: 0!important;
        overflow: auto!important;
    }
    &.has-error{
        border: 1px solid #ff5252!important;
    }
    &.has-state{
        border: 1px solid #1976d2;
    }
}
.markdown-editor {
    .CodeMirror {
        font-size: 1rem!important;
    }
}
.markdown-viewer {
    & > div {
        font-size: 0.95rem!important;
    }
}
.blinking-cursor {
  @include animation(blink, 1s, step-end);
}
.v-list-item__content > * {
    line-height: 1.3!important;
}
.v-avatar {
    img {
        border: 1px solid rgba($color: #FF5722, $alpha: .3)!important;
    }
}
.text-line-through {
    text-decoration: line-through;
}
@include keyframe(blink) {
    from, to {
        color: transparent;
    }
    50% {
        color: #FF5722;
    }
}
.v-messages__message{
    line-height: 18px!important;
}
.min-height-auto{
    min-height: auto!important;
}
.text-container{
    p{
        margin-bottom: 0!important;
    }
}
//  Colors
.dark-grey--text{
    color: #253858!important;
}
// .blue-grey--text{
//     color: #435b71!important;
// }
.white-light{
    background-color: #f6f8fa!important;
}

.slide-down{
    height: auto!important;
    max-height: 600px!important;
    overflow: hidden!important;
    @include transition(max-height, 0.2s, ease-out);
}
.slide-up{
    height: auto!important;
    max-height: 0!important;
    overflow: hidden!important;
    @include transition(max-height, 0.2s, ease-out);
}
.pos-relative{
    position: relative!important;
}
.pos-absolute {
    position: absolute!important;
}
.display-3{
    line-height: 5rem!important;
}
.display-4{
    line-height: 7rem!important;
}
.title-2{
    font-size: 1rem!important;
}
.comment-content{
    line-height: 1.5!important;
}
.editor{
    border: 5px solid #ccc;
    border-radius: 10px;
}
.box-shadow{
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0px 2px 20px rgba($color: #000000, $alpha: 0.4);
    // box-shadow: 0 2px 43px -4px rgba(0,0,0,.59);
}
.v-truncate4{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}